.clearfix {
    clear: both;
}

.img-thumbnail {
    padding: 0!important;
    background-color: none!important;
    border: none!important;
    border-radius: 0!important;
}

.blur {
    filter: blur(5px);
}
