#poststuff #cominovel {
  margin-top: -7px;
}

.ant-tabs-vertical.ant-tabs-card.ant-tabs-left .ant-tabs-card-bar.ant-tabs-left-bar .ant-tabs-tab {
  min-width: 130px;
}

#cominovel .cominovel-tab-content {
  min-height: 400px;
}
#cominovel .ant-page-header {
  padding: 24px 0;
}
