.clearfix {
    clear: both;
}

.img-thumbnail {
    padding: 0!important;
    background-color: none!important;
    border: none!important;
    border-radius: 0!important;
}

.ui-bootstrap a {
    color: #ffe000;
    &:hover {
        color: darken(#ffe000, 20%);
    }
}